<h2 class="text-2xl lg:text-3xl xl:text-3xl font-extrabold mb-6">Hi <%= current_user.first_name.capitalize %>,</h2>

<h3 class="text-xl lg:text-2xl xl:text-2xl font-bold mb-4">Thank You for Choosing RiaFin!</h3>

<p class="text-lg mb-6">Congratulations on completing the questionnaire at RiaFin! We appreciate your trust in our platform to assist you in finding the perfect fiduciary financial planner tailored to your unique needs and goals. Your journey toward financial well-being is now set in motion.</p>

<h2 class="text-xl lg:text-2xl xl:text-2xl font-bold mb-2">What's Next?</h2>

<ol class="list-decimal ml-6 mb-6">
    <li class="mb-2"><strong>Analysis in Progress:</strong> Our team is diligently reviewing your responses to ensure we understand your financial objectives, risk tolerance, and preferences. This meticulous analysis is crucial to matching you with the most suitable fiduciary financial planners in our network.</li>

    <li class="mb-2"><strong>Expert Matching Process:</strong> RiaFin employs a sophisticated algorithm that considers various factors, such as your financial goals, investment preferences, and location, to identify the top three fiduciary financial planners who align with your requirements. This ensures that you receive recommendations personalized just for you.</li>

    <li class="mb-2"><strong>User Dashboard Update:</strong> In the next 4-5 working days, we will update your User Dashboard with the details of the matched financial planners. This will include their profiles, expertise, and any additional information that can help you make an informed decision.</li>

    <li><strong>Email Notification:</strong> Once your User Dashboard is updated, we will promptly notify you via email. This notification will serve as your prompt to log in to your RiaFin account and explore the matched advisors. Feel free to take your time reviewing the information and, when you're ready, reach out to the financial planners via Dashboard.</li>
</ol>

<h2 class="text-xl lg:text-2xl xl:text-2xl font-bold mb-2">Your RiaFin User Dashboard:</h2>

<p class="text-lg mb-4"><strong>Secure Access:</strong> Rest assured that your information is treated with the utmost confidentiality and security. Only you have access to your User Dashboard, ensuring a private and secure experience.</p>

<p class="text-lg mb-4"><strong>Comprehensive Advisor Profiles:</strong> Discover detailed profiles of the three fiduciary financial planners selected for you. Gain insights into their expertise, experience, and approach to financial planning.</p>

<p class="text-lg mb-6"><strong>Connection and Communication:</strong> Use your User Dashboard to connect with the matched advisors. Whether you have questions, want to schedule a consultation, or need additional information, this platform facilitates seamless communication.</p>

<h2 class="text-xl lg:text-2xl xl:text-2xl font-bold mb-2">Stay Informed:</h2>

<p class="text-lg mb-4"><strong>Educational Resources:</strong> While our team is busy working on your matches, explore our <a href="https://riafin.com/posts" target="_blank" class="text-blue-600 hover:underline">educational resources</a> section to enhance your understanding of financial planning. We believe that an informed client is an empowered client.</p>

<p class="text-lg mb-6"><strong>Regular Updates:</strong> Keep an eye on your email for updates from RiaFin. We'll inform you of any significant developments, and you can always log in to your User Dashboard for real-time information.</p>

<h2 class="text-xl lg:text-2xl xl:text-2xl font-bold mb-2">Thank You Again:</h2>

<p class="text-lg mb-4">Thank you once again for choosing RiaFin to be a part of your financial journey. We are committed to providing you with a transparent, efficient, and personalized experience. If you have any questions or concerns, don't hesitate to reach out to our <a href="https://riafin.com/contact" target="_blank" class="text-blue-600 hover:underline">customer support</a> team.</p>

<p class="text-lg">We look forward to helping you achieve your financial goals!</p>

<p class="text-lg mt-8">Best Regards,</p>
<p class="text-lg">CEO</p>
<p class="relative font-cursive text-2xl text-gray-800 inline-block">
    Chetan Mittal
</p>