<% content_for :step_title do %>
  How old are you?
<% end %>

<% content_for :step do %>
  1
<% end %>

<% content_for :sidebar_image do %>questionnaire/step-1.jpg<% end %>

<%= render layout: 'form' do |f| %>

  <div class="my-5 form-field is-required">
    <%= f.label :age, class: "font-bold" %>
    <%= f.text_field :age, placeholder: "Enter your age", autofocus: true, required: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

<% end %>