<% content_for :step_title do %>
  How much cash assets do you own?
<% end %>

<% content_for :step do %>
  5
<% end %>

<% content_for :sidebar_image do %>questionnaire/step-5.jpg<% end %>

<%= render layout: 'form' do |f| %>

  <div class="my-5 form-field is-required">
    <%= f.label "Cash Assets in ₹", class: "font-bold" %>
    <%= f.select :cash_assets_in_lacs, ["Under 1 Lac", "1 Lacs to 3 Lacs", "3 Lacs to 6 Lacs", "6 Lacs to 12 Lacs", "12 Lacs Above"] %>
  </div>

<% end %>
