<footer class="text-sm text-gray-500 prose-a:inline-block prose-a:underline hover:prose-a:no-underline hover:prose-a:text-gray-600 sm:text-center border-t px-4 py-12 mb-16 lg:mb-0 xl:mb-0">
  <div class="w-3/4 mx-auto">
    &copy; <%= Time.zone.now.year %> <a href="https://riafin.com" target="_blank">RiaFin</a> - A division of Mittaltiger Enterprises. <br> RiaFin offers referrals to third-party financial planners and investment advisors based on consumers' financial information, required services, and preferred relationship with an advisor, as indicated in our Questionnaire. <br> RiaFin does not oversee client assets or offer investment advice. <span class="inline-block"><a href="https://riafin.com/privacy-policy" target="_blank">Privacy Policy</a> · <a href="https://riafin.com/terms-of-use" target="_blank">Terms of Use</a> · </span>
  </div>
</footer>